#works {
  margin: 0 auto;
  /* min-height: calc(100vh - 4rem); */
  width: 100vw;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 0 1rem; */
  /* background-color: brown; */
}
.workstitle {
  margin: 1rem 0;
  font-size: 3rem;
}
.worksdescription {
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 52rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.worksimages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 75rem;
  flex-wrap: wrap;
}
.worksImg {
  object-fit: cover;
  height: 10rem;
  margin: 0.5rem;
  width: 10rem;
  margin: 10px;
  border-radius: 5px;
  margin-top: 18px;
  border: 3px solid black;
}
.worksImg:hover{
  border: 3px solid darkcyan;
}

.worksbtn {
  padding: 0.5rem 2.5rem;
  border: none;
  background: black;
  border-radius: 2rem;
  font-size: 1rem;
  margin: 3rem 0;
  color: white;
  border: 3px solid grey;
}
.worksbtn:hover{
  border: 3px solid darkcyan;
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 38vw;
  }
}
@media screen and (max-width: 720px) {
  .worksdescription{
    font-size: 0.8rem;
  }
}
